*{
  margin: 0;
  padding: 0;
}
body{
  width: 90dvw;
  height: 90dvh;
  font-family: sans-serif;
  font-weight: 900;
  background-color: darkslateblue;
}
a{
  text-decoration: none;
  color: lightgray;
  text-shadow: 0 0 4px black;
}
header{
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  flex-direction: column;
}
header .type{
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin: 4px;
  padding: 10px;
  background-color: #c9ae54;
  border: 4px solid #755e28;
  border-radius: 50%;
}
main{
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/* main .levelSelector{
  height: 80dvh;
  min-height: 40px;
} */
main .level{
  width: 58px;
  height: 16dvh;
  min-height: 50px;
  margin: 16px;
  line-height: 16dvh;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, .8);;
  border: 14px solid lightgray;
  box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, .8);
  border-radius: 10dvh;
  font-size: 54px;
  text-decoration: none;
  color: lightgray;
  text-shadow: 0 0 4px black;
}
main .position1{
  height: 58px;
  line-height: 58px;
  
}
main .spin{
  width: 180px;
  height: 180px;
  line-height: 180px;
  align-items: center;
  text-align: center;
  background-color: ;
  border: 16px solid #755e28;
  box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, .8);
  border-radius: 50%;
  font-size: 44px;
  text-decoration: none;
  color: khaki;
  text-shadow: 0 0 4px black;
  z-index: 100;
}
@media (max-width: 800px){
  header{
    left: 6px;
  }
  main{
    flex-direction: column;
  }
  main .level{
    width: 48px;
    height: 8dvh;
    line-height: 8dvh;
    font-size: 42px;
  }
}
footer{
  width: 100%;
  position: absolute;
  bottom: 26px;
}
footer>.score{
  position: absolute;
  left: 6px;
  font-size: 24px;
}
footer>nav{
  position: absolute;
  right: 6px;
}